* {
    margin:0;
    box-sizing: border-box;
}

body{
    background-color: wheat;
    display: flex;
    justify-content: center;
    align-items: center;
    height:100vh;

}

.container{
    padding:10px;
    max-width: 800px;
    display:grid;
    grid-template-columns: repeat(7,1fr);
    gap:1rem;
    background-color: #377EB8;
    border-radius: 10px;
}
.column{
    display: grid;
    grid-template-columns: 1fr;
    gap:1rem;
}
.box{
    width:75px;
    height:75px;
    background-color: white;
    border-radius: 50%;
}
.column:hover{
    cursor: pointer;
    opacity: 0.8;
}